repos:
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.24.3
    hooks:
      - id: gitleaks
        args: ["--redact", "--no-git", "-s", "."]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
